@model ExamOnline.Models.Exam

<h1>@Model.Name</h1>
<hr>
    <form asp-action="SubmitExam" asp-controller="Exams">
        <input type="text" value="@Model.Id" hidden=true />
        @{
            for (int i = 0; i < Model.Questions.Count; i++)
            {
                    <input type="text" value="@Model.Questions.ElementAt(i).Id" hidden=true/>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Question @(i + 1)</h4>
                                <p class="card-text">@Model.Questions.ElementAt(i).Content</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                @foreach (var a in @Model.Questions.ElementAt(i).Answers)
                            {
                                    <li class="list-group-item">
                                        <input type="radio" name="answerId" value="@a.Id" />
                                        @a.Content

                                    </li>
                            }
                            </ul>

                        </div>
                    </div>
            }
            }
            <button type="submit" class="btn btn-submit">Submit Exam</button>
        </form>
        }
